<h2>Sunhaojie's Blogs</h2>

<p>
  Hello! 这里是孙豪杰的技术博客.
</p>
<p>
  主要包括: Ruby, Java, 也包括一些自己的开源项目, 如<a href="https://github.com/hunzino1/spring_round_one">spring入门</a>.
</p>
<p>
  对生活热忱, 永远充满热爱和热情, 更多我的信息, 请查看<a href="http://hunzino1.github.io/blogs/about_me.html">我的主页</a>.
</p>
